<div class="card-columns" style="column-count: 3">
  <div class="card text-center">
    <div class="card-header">
      <h6>Выбор фигуры для отображения</h6>
    </div>
    <app-shape-selector></app-shape-selector>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h6>Настройка закраски</h6>
    </div>
    <app-fill-params></app-fill-params>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h6>Place parameters</h6>
    </div>
    <app-place-params></app-place-params>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h6>Segment parameters</h6>
    </div>
    <app-segments-params></app-segments-params>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h6>Color parameters</h6>
    </div>
    <app-color-selector></app-color-selector>
  </div>
</div>
